* {
    display: flexbox;
}

/* main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }

.container {
    height: 820px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw; 
    cursor: url('./../red\ darkness\ final.png'), auto;
}

.hole {
    padding: 30px;
    background-color: #98C34F;
    overflow:hidden;
    height: 210px;
    width: 220px;
    /* border: 1px solid red; */
    flex-basis: 30vw;
    display: flex;
    align-items: center;
    z-index: 1;
    background-image: url('./../whackamole\ background.png');
    background-repeat: no-repeat;
    background-position: center;
}

.image-hole {
    z-index: 1;
    position: relative;
    height: 40%;
    width: 150%;
    top: 100px;
    right: 60px;
}

.image-hole-top {
    z-index: 2;
    margin-top: 0%;
    width: 255px;
    position: relative;
    right: 225%;
    top: 15%;
}

#image-hole-test {
    position: relative;
    height: 40%;
    width: 150%;
    top: 100px;
    right: 60px;
}

.mole {
    animation: 1.5s slide-up;
    margin-top: -35%;
    width: 150px;
    position: relative;
    right: 130%;
    z-index: 0;
}

/* slide animation */
@keyframes slide-up {
    from {
        margin-top: 100%;
        /* height: 100%;  */
    }
    to {
        margin-top: -40%;
        /* height: 100%; */
    }
}