/* sidebar */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 80px;
    text-align: center;
    font-family:Verdana;
  }

.sidenav p {
    text-decoration: none;
    font-size: 23px;
    color: #f1f1f1;
    display: block;
}
  
.sidenav p:hover {
    color: #818181;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 18px;}
}

#info {
    display: none;
}

#start-button{
    display: none;
}