.container {
    background-color: #111;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 800px;
}

#hi {
    text-align: center;
    color: whitesmoke;
}