.container {
    background-color: #111;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 800px;
}

*{
display: flexbox;
}

 #hole {
    width: 70px;
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
    border-radius: 50%;
} 